.Heading{
    margin: 0%;
    font-family: 'Jost';
    font-size: 50px;
    width: 100%;
    font-size: clamp(2.5rem, 8vw, 4rem);
    margin-bottom: 14px;
    color: var(--lightest-pink);
    text-align: center;
}

timeline-item::before {  
  content: '';  
  position: absolute;  
  top: 10px;  
  left: -14px;  
  width: 10px;  
  height: 10px;  
  background-color: #0073e6;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    font-family: "Jost";
    padding-bottom: 20px;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px; /* Keep the card square */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Optional: add a subtle border for better visibility */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Add shadow */
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.5); /* Add shadow */
  }
  
  .card h2 {
    margin-top: 0;
    font-size: 1.25em; /* Adjust font size to fit */
    color: #fff; /* Keep the text white for readability */
  }
  
  .card p {
    font-size: 0.9em; /* Adjust font size to fit */
    color: #fff; /* Keep the text white for readability */
  }
